<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">

        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <!-- <div class="container-fluid"> -->
            <div class="row">
              <div class="col-md-12">
                <h2>Latest News</h2>
                <h4>{{mars.Title}}</h4>
                <p> {{mars.Article}} </p>
              </div>
            </div>
          <!-- </div> -->

          <div class="row">
            <div class="col-md-8">
                    <div class="page-header">
                        <h1 class="title">Featured Image</h1> 
                    </div>
                      <img src="{{mars.FeaturedImage}}" alt="" class="img-responsive"style="width: 100%; float:left">
                
            </div>

            <div class="col-md-4">
                <div class="box">
                    <div class="page-header">
                        <h1 class="title">Weather</h1>
                        <p> {{mars.MarsWeather}} </p>
                        <br>
                        
                    </div>
                    <div class="table-responsive">
                      <table class="table table-condensed">
                          <tr style="text-align: right;">
                            {{mars.MarsFacts}}
                      </table>
                    </div>
                <!-- </div>         -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>Mars Hemispheres</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                
                <div class="box">
                    <div class="thumbnail" style="width: 50%; float:left;">
                      <img src="{{mars.MarsHenispheres[0].img_url}}" alt="" class="img-responsive">
                      <img src="{{mars.MarsHenispheres[1].img_url}}" alt="" class="img-responsive">
                    </div>
                        
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="thumbnail" style="width: 50%; float:left;">
                      <img src="{{mars.MarsHenispheres[2].img_url}}" alt="" class="img-responsive">
                      <img src="{{mars.MarsHenispheres[3].img_url}}" alt="" class="img-responsive">
                    </div>
                    
                </div>        
          </div>
    </div>


    




</body>
</html>